.root {
  :global {
    .tabBarBox {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: lightgray;
      position: fixed;
      bottom: 0;
      left: 0;
      .active {
        color: greenyellow !important;
      }
      .itemBox {
        font-size: 18px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .iconF {
          font-size: 20px;
        }
      }
    }
  }
}
